@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html, body {
  background: #2b414d !important;
  color: #fffce1;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

  div[id^="bloque"]{ display:none; }
  
  .caixaDePergunta{
    position: relative;
    width: 100%;
    left: -1500px;
    margin: 0;
    font-weight: 100;
    font-size: 3.3em;
    padding: 2em 2% 0;
    text-shadow: 0 1px 1px rgba(0,0,0,1);
    font-family: 'Lato', Calibri, Arial, sans-serif;
    border: 0;
    color: #fff;
  }

  .caixaDePergunta:before{
    /*content: '\201C';*/
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 3em;
    color: rgba(43,65,77,0.1);
    z-index: -1;
  }

  .caixaDeResposta{
    position: relative;
    width: 100%;
    right: -1500px;
  }
  
  /*Cambiar de with de momento*/
  ul{ position: relative; list-style: none; width: 100%; padding: 0; text-align: center; }
  .resp{
   /*position: relative;
    background: #F24C27;
    margin-left: 15px;
    display: inline-block;
    font-size: 1em;
    text-align: center;
    color: #fff;
    height: 20px !important;*/

    position: relative;
    margin-left: 1px;
    display: inline-block;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 100;
    text-align: center;
    color: #fff;
    width: 165px;
    height: 48px;
    border: 1px solid #fff;
    background: #E74C3C;
    padding: 10px; 
  }

  .dragResp{
    /*
    position: relative;
    background: #F24C27;
    margin-left: 15px;
    display: inline-block;
    font-size: 1em;
    text-align: center;
    color: #fff;
    z-index: 12;*/

    /*trapezoide*/
    
    /*width: 161px; 
     height: 48px;
     position: relative;
     margin-left: 1px;
     display: inline-block;
     font-size: 1em;
     text-align: center;
     color: #fff; 
     border: 3px solid #555; 
     background: #428bca;
     -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
     -ms-transform: skew(20deg);
     -o-transform: skew(20deg);
     transform: skew(20deg);
     z-index: 12;*/

    /*Cuadros*/

    position: relative;
    margin-left: 1px;
    display: inline-block;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 100;
    text-align: center;
    color: black;
    width: 165px;
    height: 48px;
    border: 1px solid #fff;
    background: #EEE666;
    padding: 10px;
    z-index:  12;
  }

  .objetoDroppable{
    /*width: 100%;
    height: 200px;
    background: #89FF6B;
    position: relative;
    margin: 80px auto 0;
    z-index: 1;*/

    width: 100%;
    height: 0px;
    position: relative;
    margin: 80px auto 0;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-top: 135px solid #fff;
    z-index: 1;    
  }

  /*bloque 3 y 6*/
  td{
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 1.6em;
    font-weight: 100;
    text-align: justify;
    padding: 4px 5px 0 !important;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,1);
  }

  select{
    color: black !important;
    font-size: .8em !important;
    font-weight: 100;
  }

  .posBloq3{
    position: absolute;
    top: -50px;
    text-align: -webkit-center;
  }

  /*Posición Bloque 1 y 4*/

  .posBloq1{
    padding: 150px 0px;
  }
  
  /*label de formulario*/
  .formLabel{
    font-size: 1.4em;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 100;
    color: #fff;
    text-align: center;
    width: 90%;
  }

  #commentForm{
    width: 45%;
    margin: 0 auto;
    text-align: left;
  }

  #commentForm input {
    height: 40px;
    width: 90%;
    font-weight: 100;
    font-size: 1.3em;
    background: rgba(43,65,77,.5);
    border: 1px solid #358ebc;
    padding: 0 10px;
    margin-right: 2px;
  }
    
   #commentForm input:focus{
    background:rgba(43,65,77,.5);
    border:1px solid #fff; 
  }
  
  button[type="submit"]{
    width: 90%;
  }

  #commentForm .inputError{
    background: rgba(43,65,77,.7);
    border: 1px solid #ff7070;
  }

  #commentForm .glyphicon-remove {
    color: #ff7070;
  }

  #cname, #cemail, #ctel, #cdomicilio, #ctutor{
    font-weight: bold;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #fff;
  }

  /* Imagen ? */
  #Signo{
    width: 130px;
    height: 130px;
  }
  
  /*Color placeholder*/
  *::-webkit-input-placeholder {
      /* Google Chrome y Safari */
      color: rgba(254,253,253,.5);
  }
  *:-moz-placeholder {
      /* Firefox anterior a 19 */
      color: rgba(254,253,253,.5) !important;
  }
  *::-moz-placeholder {
      /* Firefox 19 y superior */
      color: rgba(254,253,253,.5);
  }
  *:-ms-input-placeholder {
      /* Internet Explorer 10 y superior */
      color: rgba(254,253,253,.5) !important;
  }

  /*Slider de instrucciones*/
  .Instrucciones{
    position: relative;
    font-weight: 100 !important;
    font-size: 2em;
    padding: 0em 5% 1em;
    text-shadow: 0 1px 1px rgba(0,0,0,0.05);
    font-family: 'Lato', Calibri, Arial, sans-serif;
    border: 0;
    color: #fff;
    margin: 0;
    line-height: 1.2 !important;
  }

  .containerGrafica{
    position: relative;
  }

    .grid12{
      width: 100%;
      font-size: 2em;
      font-weight: 100 !important;
      margin: 0 auto;
      color: white;
    }

    .grid4{
      width: 32%;
    }

    .ladoIzq, .ladoDer, .grid4{
      float: left;
    }
    .ladoIzq, .ladoDer{
      width: 48%;
      min-height: 300px;
      border: 1px black solid;
    }
    .clearfix{
      clear: both;
    }