/* ===========================================
   Defining media queries
   =========================================== */

@media screen and (max-width: 924px) {
  .slide h1, .slide h2, .formLabel, .Instrucciones,
  .slide .bck {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 924px) {
  .Instrucciones {
    font-size: 1.2em;
  }
}

/*@media screen and (max-width: 1024px){
  .slide .bck, {
    font-size: 1em;
  }
}*/
@media screen and (max-width: 1024px){
  img {
    width: 10%;
    height: auto;
  }
}
@media screen and (max-width: 1024px){
  #Signo {
    width: 20%;
    height: auto;
  }
}
